<div class="change">
  <div class="content">
    <div class="logo">Kilope</div>

    <div class="change-pass">Change Password</div>
    <mat-form-field appearance="fill">
      <mat-label>New Password</mat-label>
      <input
        matInput
        placeholder="password"
        required
        autocomplete="off"
        type="password"
        [(ngModel)]="password"
      />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Confirm new Password</mat-label>
      <input
        matInput
        placeholder="confirm password"
        required
        autocomplete="off"
        type="password"
        [(ngModel)]="newPassword"
      />
    </mat-form-field>

    <div
      class="err"
      *ngIf="password && newPassword && password !== newPassword"
    >
      New Password and confirm new password are not same
    </div>

    <div
      class="matched"
      *ngIf="password && newPassword && password === newPassword"
    >
      New Password and confirm new password matched
    </div>

    <button
      [disabled]="!(newPassword && password && password === newPassword)"
      mat-raised-button
      color="primary"
      (click)="changePassword()"
    >
      Change Password
    </button>
  </div>
</div>
