@import "../../../../assets/styles/helpers/mixins";
@import "../../../../assets/styles/helpers/fonts";

.buy-gift-component {
  display: flex;
  padding: 2rem;
  justify-content: center;
  margin-top: 5rem;

  .left {
    img {
      width: 100%;
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    .header {
      font-family: MontserratBold;
      font-size: 2rem;
      color: $primary-color;
      padding-bottom: 2rem;
      border-bottom: 1px solid $secondary-color;
    }

    .section {
      width: 100%;
      padding-bottom: 2rem;
      border-bottom: 1px solid $secondary-color;
      justify-self: center;
      .header1 {
        margin: 1rem 0 1rem 0;
        font-family: "MontserratMedium";
        font-size: 1rem;
        color: $primary-color;
        width: 100%;
      }
      padding: 1rem;
      .cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 0 auto;
        justify-self: center;

        .card {
          margin: 0.5rem;
          // padding: 0;
          img {
            width: 15rem;
          }
        }
        .selected {
          border-radius: 10px;
          border: 5px solid green;
        }
      }

      .detail {
        display: flex;
        align-items: center;
        margin: 1rem 0;

        .header3 {
          font-family: MontserratMedium;
          margin-right: 1rem;
          font-size: 1.2rem;
        }
        .amount {
          display: flex;
          flex-wrap: wrap;

          .amount-pill {
            border: 1px solid grey;
            border-radius: 5px;
            padding: 0.6rem 0.8rem;
            margin: 5px;
            font-family: MontserratBold;
            display: flex;
            flex-grow: 1;

            input {
              background: transparent;
              border: none;
              outline: none;
              font-family: MontserratBold;
              width: 7rem;
            }
          }
          .selected {
            background-color: $primary-color;
            color: white;
          }
        }
      }

      form {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;

        mat-form-field {
          width: 100%;
        }
      }

      button {
        width: 70%;
      }
    }
  }
}

@media (max-width: 65rem) {
  .left {
    margin-bottom: 1.2rem;
  }
  .right {
    align-items: center;
    padding-left: 0;
  }

  .buy-gift-component {
    flex-direction: column !important;
    gap: 2rem;
    align-items: center;
  }
}

@media screen and (max-width: 34rem) {
  .buy-gift-component {
    .right {
      .section {
        .cards {
          grid-template-columns: repeat(2, 1fr);
          justify-items: center;
        }

        .detail {
          flex-direction: column;

          .header3 {
            margin-bottom: 1.5rem;
          }
        }
      }
    }
  }
}
