@import "../../../../assets/styles/helpers/mixins";
@import "../../../../assets/styles/helpers/fonts";

.buy-gift-component {
width: 100%;

.header {
  width: 100%;
  text-align: center;
  font-family: MontserratBold;
  font-size: 2rem;
  color: $primary-color;
  padding: 2rem;
}
 .content{
   width: 100%;
  display: flex;
  padding: 2rem;

  .left {
    img {
      width: 25rem;
    }
  }
  .alert {
    padding: 22px;
    background-color: #04AA6D;
    color: white;
  }
  
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }

  .right {
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    .row{
      display: flex;
      flex-direction: row;
    }

    .section {
      width: 100%;
      padding-bottom: 2rem;
      border-bottom: 1px solid $secondary-color;
      .header1 {
        font-family: MontserratMedium;
        font-size: 1rem;
        color: $primary-color;
        width: 100%;
      }
      padding: 1rem;
      .cards {
        padding-left: 2rem;
        width: 70%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding-left: 2rem;

        .card {
          margin: 5px;
          img {
            width: 6rem;
          }
          cursor: pointer;
        }
        .selected {
          border-radius: 10px;
          border: 5px solid green;
        }
      }

      .detail {
        display: flex;
        align-items: center;
        margin: 1rem 0;

        .header3 {
          font-family: MontserratMedium;
          margin-right: 1rem;
          font-size: 1.2rem;
        }
        .amount {
          display: flex;
          flex-wrap: wrap;

          .amount-pill {
            border: 1px solid grey;
            border-radius: 5px;
            padding: 0.6rem 0.8rem;
            margin: 5px;
            font-family: MontserratBold;
            display: flex;
            cursor: pointer;

            input {
              background: transparent;
              border: none;
              outline: none;
              font-family: MontserratBold;
              width: 7rem;
            }
          }
          .selected {
            background-color: $primary-color;
            color: white;
          }
        }
      }

      form {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;

        mat-form-field {
          width: 70%;
        }
      }

      button {
        width: 70%;
      }
    }
  }
 }
}

@media screen and (max-width: 800px){
  .buy-gift-component{
   .content{
    flex-direction: column;
    padding: 1rem;
    align-items: center;

    .left{
      width: 100%;

      img{
        width: 12rem;
      }
    }

    .right{
      width: 100%;
      padding: 0;

      .section{

        .cards{
          width: 100%;
          padding: 0;
        }
        .detail{
          width: 100%;
          flex-direction: column;
          .header3{
            margin-bottom: 1rem;
          }
          .amount{
            width: 100%;
            .amount-pill{
              font-size: 0.7rem;
              flex: none;
              overflow-x: auto;
            }
          }
        }
        form {
          mat-form-field {
            width: 100%;
          }
        }
        button{
          width: 100%;
        }
      }
    }
   }
  }
}