<div class="login-component">
  <div class="name-logo">
    <div class="logo">
      <img src="assets/images/crypto.png" alt="" />
    </div>
    <div class="name">Gappy</div>
  </div>
  <div class="content">
    <div class="header">Create Yout accont</div>

    <div class="inner-content">
      <div class="left">
        <form [formGroup]="createAccountForm">
          <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input type="email" matInput formControlName="email" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Contact No</mat-label>
            <input matInput formControlName="contactNo" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input type="password" matInput formControlName="password" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Confirm Password</mat-label>
            <input
              type="password"
              matInput
              formControlName="confirm_password"
            />
          </mat-form-field>
          <div
            class="err"
            *ngIf="
              createAccountForm.valid &&
              createAccountForm.controls.password.value !==
                createAccountForm.controls.confirm_password.value
            "
          >
            password and confirm password are not matching
          </div>

          <div
            class="matched"
            *ngIf="
              createAccountForm.valid &&
              createAccountForm.controls.password.value ===
                createAccountForm.controls.confirm_password.value
            "
          >
            password and confirm password matched
          </div>

          <div class="tnc">
            By signing up, you agree to cryft's
            <a href="">Terms & Conditions</a>.
          </div>

          <button
            class="sign-up"
            mat-raised-button
            color="primary"
            (click)="signup()"
            [disabled]="!createAccountForm.valid"
          >
            Sign Up
          </button>
        </form>
      </div>

      <div class="right">
        <div class="logo">
          <img src="assets/images/gift.png" alt="" />
          <!-- <img src="assets/images/coins.png" alt=""> -->
        </div>

        <div class="exiting-acc">
          Already have an account? <a [routerLink]="['/login']">Log in</a>
        </div>

        <div class="password-instructions">
          Password must be at least eight characters long,

          <div class="item">
            - contain at least one upper case and lower case letter,
          </div>

          <div class="item">- one numeral</div>

          <div class="item">- and one special character.</div>
        </div>
      </div>
    </div>
  </div>
</div>
