
@import "../../../../assets/styles/helpers/fonts";
@import url('https://fonts.googleapis.com/css2?family=Fruktur&family=Poppins:wght@500&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: flex;
}

p {
  margin: 0;
}

section {
  padding: 5em;
}

.container {
  margin: 0 auto;
}

.splitContent {
  display: flex;
  flex-direction: row;
  &>* {
    flex-basis: 50%;
  }
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.header {
  color: #4A4A4A;
    font-family: MontserratExtraBold;
    font-style: normal;
font-weight: 800;
font-size: 3rem;
line-height: 3.5rem;
/* or 117% */
letter-spacing: .15rem;
min-width: 300px;
}
.note {
  font-family: Poppins;
  font-size: 1rem;
  color: rgba(74, 74, 74, 0.77);
  letter-spacing: 0.1rem;
  margin-bottom: 2rem;
}
.main{
  background-color: #F0F5FF;
}
.getStart{
  background: #4B6CFF; color: #FFFFFF; background: linear-gradient(315deg, #264CFF 0%, #4F6EFF 100%);
            box-shadow: 0px 20px 40px #A5B5FF, inset 0px -3px 10px rgba(0, 0, 0, 0.37), inset 3px 1px 15px rgba(255, 255, 255, 0.5);
            border-radius: 20px; display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 15px 16px;

position: static;
width: 142px;
height: 52px;
margin-bottom: 1rem;
}
.logo {
  margin: 2rem;
  img {
    width: 100px;
  }
  position: relative;
}
.address{
  color: #FFFFFF;
  position: relative;
  left: 50px;
  top: 25px;
  text-align: justify;
letter-spacing: 1.5px;
}
.p {
  color: rgba(255, 255, 255, 0.77);
  text-align: justify;
  letter-spacing: 1.5px;
}
.add{
  color: rgba(255, 255, 255, 1);
  display: flex;
  align-items: center;
  letter-spacing: -0.408px;  
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 19px;
  line-height: 19px;
}
.splitContent1{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 4.5rem;
  img {
    width: 280px;
    margin: auto;
  }
  .sag{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.2rem;
    text-align: center;
    letter-spacing: 0.1rem;
    margin: 2rem;
    margin-top: 0rem;
    color: rgba(47, 47, 47, 0.77);
  
  }
  .content1{
   border-radius: 55px;
   margin-bottom: 2rem;
   align-self: center;
   width: 400px;
   height: 400px;
  }
}
.frame15img{
  img {
    width: 400px;
  height: 400px;
  }
}
.frame15content{
  text-align: center;
  background: #D6DEEE;
  border-radius: 50px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 28px;
  padding: 2rem;
  /* or 155% */

  color: rgba(24, 24, 24, 0.77);
}

.twitHeader {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 70px;
  /* or 140% */

  display: flex;
  justify-content: center;
  letter-spacing: 1.5px;

  color: #4A4A4A;
  margin-bottom: 1rem;
}

.twits {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .twitImg {

    margin: 1rem;
    width: 400px;
    height: 320px;
    border-radius: 24px;
  }
}

@media (max-width: 900px) {
  .header {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }
  .note {
    font-size: .8rem;
  }
  .splitContent {
    flex-direction: column;
  }
  .splitContent1 {
    flex-direction: column;
    .content1 {
      min-width: 94%;
      height: auto;
    }
    img {
      width: 200px;
      height: 200px;
    }
    .frame15img {
      img {
        width: 300px;
        height: 300px;
      }
    }
    .frame15content {
      font-size: 15px;
      line-height: 18px;
      align-self: center;
    }
    .sag {
      font-size: .8rem;
      line-height: 1rem;
      letter-spacing: .1rem;
    }
  }
  section {
    padding: 2em;
  }
}

@media (min-width: 900px) {
.splitContent {
  img {
    width: 30%;
  }}
}