<div class="main">
    <section class="featured">
        <div class="container">
            <div class="splitContent">
                <div class="content">
                    <div>
                    <div class="header">
                        <p>In the verse of crypto,</p>
                        <p style="color: #4E6DFF;">we are mutual funds,</p>
                        <p>portfolio builders, and much more.</p>
                    </div>
                    <br>
                    <br>
                    <div class="note des">In the world of crypto mutual funds. Cease your risks , diversify your portfolio, invest in sags and rest assured. We bring you mutual funds for crypto where risk is low and specialists manage your hard-earned crypto.
                        <br>
                        <br>
                        Sign up today and kick-start your crypto portfolio.</div>
                </div>
                 <button mat-raised-button class="getStart" style="margin-top: 0px;" (click)="getStarted()">Get’s Started</button>
                </div>
                <img src="../../../../assets/images/output-onlinepngtools (1).png" alt="" class="image1">
            </div>
            <br>
            <br>
            <br>
            <div class="splitContent1">
                <div class="content1" style="background: #FFFFFF;">
                    <div class="">
                        <img src="../../../../assets/images/Card1.png" alt="">
                    </div>
                    <div class="sag">
                        <p>Pick a sag to invest. As</p>
                        <p>little as 100 rupee</p>
                    </div>
                </div>
                <div class="content1" style="background: #FFFFFF;">
                    <div class="">
                        <img src="../../../../assets/images/Card2.png" alt="">
                    </div>
                    <div class="sag">
                        <p>Sag has all non stock</p>
                        <p>options for diversification</p>
                    </div>
                </div>
                <div class="content1" style="background: #FFFFFF;">
                    <div class="">
                        <img src="../../../../assets/images/Card3.png" alt="">
                    </div>
                    <div class="sag">
                        <p>Don’t put all your eggs in</p>
                        <p>same basket, so we have </p>
                        <p>plenty of Baskets for you</p>
                    </div>
                </div>
                <br>
            </div>
            <div class="cnt" >
                <div class="frame15img">
                    <img src="../../../../assets/images/frame15.png" alt="">
                </div>
                <br>
                <br>
                <div class="content1" style="margin: auto;">
                    <div class="frame15content">
                        <div>
                            <p>Kilope lets you invest in a bucket of coins called sags, to hedge your investment and help you minimize risk and increase your returns. So dont worry about the rug pulls and research we do it for you. We offer you a super simple way to invest in cryptocurrencies.</p>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class='twit'>
                <div class="twitHeader">
                    What people say about us
                </div>
                <div class="twits">
                    <img class="twitImg" src="../../../../assets/images/twit1.jpeg"/>
                    <img class="twitImg" src="../../../../assets/images/twit2.jpeg"/>
                    <img height="220px" class="twitImg" src="../../../../assets/images/twit3.jpeg"/>
                </div>
            </div>
        </div>
    </section>
</div>