<div class="main">
    <section class="featured">
        <div class="container">
            <div class="splitContent">
                <div class="content">
                    <div>
                    <div class="header">
                        <p>The World’s</p>
                        <p style="color: #4E6DFF;">Fastest Growing</p>
                        <p>Crypto Web App</p>
                    </div>
                    <br>
                    <div class="note">Lorem ipsum dolor sit amet et delectus <br>accommodare his consul copiosae legendos <br>at vix ad putent delectus delicata usu. Vidit <br>dissentiet eos cu eum an brute copiosae <br>hendrerit. Eos erant dolorum an. Per facer</div>
                </div>
                 <button mat-raised-button class="getStart">Get’s Started</button>
                </div>
                <img src="../../../../assets/images/output-onlinepngtools (1).png" alt="" class="featured__img">
            </div>
            <br>
            <br>
            <br>
            <div class="splitContent1">
                <div class="content1" style="background: #FFFFFF;">
                    <div class="">
                        <img src="../../../../assets/images/Card1.png" alt="">
                    </div>
                    <div class="sag">
                        <p>Pick a sag to invest. As</p>
                        <p>little as 100 rupee</p>
                    </div>
                </div>
                <div class="content1" style="background: #FFFFFF;">
                    <div class="">
                        <img src="../../../../assets/images/Card2.png" alt="">
                    </div>
                    <div class="sag">
                        <p>Sag has all non stock</p>
                        <p>options for diversification</p>
                    </div>
                </div>
                <div class="content1" style="background: #FFFFFF;">
                    <div class="">
                        <img src="../../../../assets/images/Card3.png" alt="">
                    </div>
                    <div class="sag">
                        <p>Don’t put all your eggs in</p>
                        <p>same basket, so we have </p>
                        <p>plenty of Baskets for you</p>
                    </div>
                </div>
                <br>
            </div>
            <div class="splitContent1">
                <div class="frame15img">
                    <img src="../../../../assets/images/frame15.png" alt="">
                </div>
                <br>
                <br>
                <div class="content1">
                    <div class="frame15content">
                        <div>
                            <p>Lorem ipsum dolor sit amet et delectus
                            <br>accommodare his consul copiosae
                                legendos at vix<br>ad putent delectus delicata usu. Vidit
                                dissentiet eos<br>cu eum an brute copiosae hendrerit.
                                Eos erant<br>dolorum an. Lorem ipsum dolor sit amet
                                et delectus<br>accommodare his consul copiosae
                                legendos at vix<br>ad putent delectus delicata usu. Vidit
                                dissentiet eos<br>cu eum an brute copiosae.</p>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class='twit'>
                <div class="twitHeader">
                    What people say about us
                </div>
                <div class="twits">
                    <img class="twitImg" src="../../../../assets/images/twit1.jpeg"/>
                    <img class="twitImg" src="../../../../assets/images/twit2.jpeg"/>
                </div>
            </div>
        </div>
    </section>

    <div class="splitContent1" style="background: #383B4F;">
        <div class="content1" style="background: #383B4F;">
            <div class="logo">
                <img src="../../../assets/images/gappy.png" alt="Logo">
            </div>
            <div class="address">
                <p class="add">Address</p>
                &nbsp;
                <div class="p">
                    <p>No.11, 2nd floor, 80 FT Road<br>4th Block, S.T Bed, Koramangala<br>Bengaluru - 560034</p>
                    <a href="" style="color: rgba(255, 255, 255, 0.77);">Contact Us</a>
                </div>
            </div>
            <br>
            <br>
            <br>
            <ul style="position: relative; left: 20px;">
                <li>
                    <a href="https://www.twitter.com/" target="_blank"><img style="width: 45px; height: 45px;"
                            src="../../../../assets/images/Twiiter.png" alt="Twitter"></a>
                </li>
                &nbsp;
                <li>
                    <a href="https://www.facebook.com/" target="_blank"><img style="width: 45px; height: 45px;"
                            src="../../../../assets/images/Facebook.svg" alt="Facebook"></a>
                </li>
                &nbsp;
                <li>
                    <a href="https://www.instagram.com/" target="_blank"><img style="width: 45px; height: 45px;"
                            src="../../../../assets/images/Instagram.svg" alt="Instagram"></a>
                </li>
                &nbsp;
                <li>
                    <a href="https://www.linkedin.com/" target="_blank"><img style="width: 45px; height: 45px;"
                            src="../../../../assets/images/Linkedin.svg" alt="Linked In"></a>
                </li>
                &nbsp;
                <li>
                    <a href="https://www.youtube.com/" target="_blank"><img style="width: 45px; height: 45px;"
                            src="../../../../assets/images/Youtube1.svg" alt="Youtube"></a>
                </li>
                &nbsp;
            </ul>
        </div>
        <div class="content1" style="background: #383B4F;">

            <div class="tags">
                <li>
                    <a href="">Gift</a>
                </li>
                &nbsp;
                <li>
                    <a href="">Invest</a>
                </li>
                &nbsp;
                <li>
                    <a href="">Blog</a>
                </li>
                &nbsp;
                <li>
                    <a href="">About us</a>
                </li>
                &nbsp;
                <li>
                    <a href="">Terms and Conditions</a>
                </li>
                &nbsp;
                <li>
                    <a href="">Privacy</a>
                </li>
                &nbsp;
                <li>
                    <a href="">Help and support</a>
                </li>
            </div>
        </div>
        <div class="content1">
            <div class="rectangle">
                <h6 class="sitemap">Site Map</h6>
            </div>
        </div>
        <br>
    </div>
</div>