<div class="main">
    <section class="featured">
        <div class="container">
            <div class="splitContent">
                <div class="content">
                    <div>
                    <div class="header">
                        <p>The World’s</p>
                        <p style="color: #4E6DFF;">Fastest Growing</p>
                        <p>Crypto Web App</p>
                    </div>
                    <br>
                    <div class="note">Lorem ipsum dolor sit amet et delectus <br>accommodare his consul copiosae legendos <br>at vix ad putent delectus delicata usu. Vidit <br>dissentiet eos cu eum an brute copiosae <br>hendrerit. Eos erant dolorum an. Per facer</div>
                </div>
                 <button mat-raised-button class="getStart">Get’s Started</button>
                </div>
                <img src="../../../../assets/images/output-onlinepngtools (1).png" alt="" class="featured__img">
            </div>
            <br>
            <br>
            <br>
            <div class="splitContent1">
                <div class="content1" style="background: #FFFFFF;">
                    <div class="">
                        <img src="../../../../assets/images/Card1.png" alt="">
                    </div>
                    <div class="sag">
                        <p>Pick a sag to invest. As</p>
                        <p>little as 100 rupee</p>
                    </div>
                </div>
                <div class="content1" style="background: #FFFFFF;">
                    <div class="">
                        <img src="../../../../assets/images/Card2.png" alt="">
                    </div>
                    <div class="sag">
                        <p>Sag has all non stock</p>
                        <p>options for diversification</p>
                    </div>
                </div>
                <div class="content1" style="background: #FFFFFF;">
                    <div class="">
                        <img src="../../../../assets/images/Card3.png" alt="">
                    </div>
                    <div class="sag">
                        <p>Don’t put all your eggs in</p>
                        <p>same basket, so we have </p>
                        <p>plenty of Baskets for you</p>
                    </div>
                </div>
                <br>
            </div>
            <div class="splitContent1">
                <div class="frame15img">
                    <img src="../../../../assets/images/frame15.png" alt="">
                </div>
                <br>
                <br>
                <div class="content1">
                    <div class="frame15content">
                        <div>
                            <p>Lorem ipsum dolor sit amet et delectus
                            <br>accommodare his consul copiosae
                                legendos at vix<br>ad putent delectus delicata usu. Vidit
                                dissentiet eos<br>cu eum an brute copiosae hendrerit.
                                Eos erant<br>dolorum an. Lorem ipsum dolor sit amet
                                et delectus<br>accommodare his consul copiosae
                                legendos at vix<br>ad putent delectus delicata usu. Vidit
                                dissentiet eos<br>cu eum an brute copiosae.</p>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class='twit'>
                <div class="twitHeader">
                    What people say about us
                </div>
                <div class="twits">
                    <img class="twitImg" src="../../../../assets/images/twit1.jpeg"/>
                    <img class="twitImg" src="../../../../assets/images/twit2.jpeg"/>
                </div>
            </div>
        </div>
    </section>
    <app-footer></app-footer>
</div>