<div class="forgot-pass">
  <div class="content">
    <div class="logo">Crypto</div>
    <div class="header">Forgot Your Password ?</div>

    <div class="subheader">
      Don't worry ! ressting your password is easy. Just type in email you
      registred to cryft.
    </div>

    <div class="email">
      <mat-form-field appearance="fill">
        <mat-label>Enter your Email</mat-label>
        <input
          type="email"
          matInput
          placeholder="Email"
          required
          autocomplete="off"
        />
      </mat-form-field>
    </div>

    <button mat-raised-button color="primary">Send</button>
  </div>
</div>
