
<div class=" bottom splitContent1" style="background: #383B4F;">
    <div class="content" style="background: #383B4F;">
        <div class="logo">
            <img src="../../../assets/images/gappy.png" alt="Logo">
        </div>
        <div class="address">
            <p class="add">Address</p>
            &nbsp;
            <div class="p">
                <p>Swaran Path, Mansarovar<br>Jaipur - 302020</p><br>
                <p href="" style="color: rgba(255, 255, 255, 0.77);">Contact Us - +919672421830</p>
            </div>
        </div>
        <br>
        <br>
        <br>
        <ul style="margin-bottom: 2rem;">
            <!-- <li>
                <a href="https://www.twitter.com/" target="_blank"><img style="width: 45px; height: 45px;"
                        src="../../../../assets/images/Twiiter.png" alt="Twitter"></a>
            </li>
            &nbsp; -->
            <li>
                <a href="https://www.facebook.com/Gappy-101316682474520" target="_blank"><img style="width: 45px; height: 45px; margin-left: 3rem;"
                        src="../../../../assets/images/Facebook.svg" alt="Facebook"></a>
            </li>
            &nbsp;
            <li>
                <a href="https://www.instagram.com/gappyinvest/" target="_blank"><img style="width: 45px; height: 45px;margin-left: 0.8rem;"
                        src="../../../../assets/images/Instagram.svg" alt="Instagram"></a>
            </li>
            &nbsp;
            <!-- <li>
                <a href="https://www.linkedin.com/" target="_blank"><img style="width: 45px; height: 45px;margin-left: 0.8rem;"
                        src="../../../../assets/images/Linkedin.svg" alt="Linked In"></a>
            </li>
            &nbsp; -->
            <!-- <li>
                <a href="https://www.youtube.com/" target="_blank"><img style="width: 45px; height: 45px;"
                        src="../../../../assets/images/Youtube1.svg" alt="Youtube"></a>
            </li>
            &nbsp; -->
        </ul>
    </div>
    <div class="content" style="background: #383B4F;">

        <div class="tags">
            <li>
                <a href="/gifts">Gift</a>
            </li>
            &nbsp;
            <li>
                <a href="/invest">Invest</a>
            </li>
            &nbsp;
            <li>
                <a href="/blogs">Blog</a>
            </li>
            &nbsp;
            <li>
                <a href="/about-us">About us</a>
        </div>
    </div>
    <div class="content" style="background: #383B4F;">

        <div class="tags">
            <li>
                <a href="/gifts#buyGift">Buy Gift</a>
            </li>
            &nbsp;
            <li>
                <a href="/gifts?action=redeem">Redeem Gift</a>
            </li>
            &nbsp;
            <li>
                <a href="/gifts#faq">FAQ</a>
            </li>
        </div>
    </div>
    <div class="content" style="background: #383B4F;">

        <div class="tags">
            <li>
                <a href="/tnc">Terms and Conditions</a>
            </li>
            &nbsp;
            <li>
                <a href="/privacy">Privacy</a>
            </li>
            &nbsp;
            <li>
                <a href="/help-and-support">Help and support</a>
            </li>
        </div>
    </div>
    <br>
</div>