<div class="header-component">
    <div class="logo" (click)="home()">
        <img src="assets/images/crypto.png" alt="">
    </div>
   <div class="navs">
    <div class="nav" *ngFor="let nav of navs">
      <p *ngIf="nav.id < 4" (click)="navigate(nav)">  {{nav.name}}</p>
    </div>
   </div>

   <div class="auth">
    <button mat-raised-button (click)="login()" *ngIf="!isLoggedIn">Log in</button> 
    <button mat-raised-button color="accent" (click)="sign()" *ngIf="!isLoggedIn">Sign Up</button>
    <div class="profile" *ngIf="isLoggedIn && !profile?.img" (click)="navigayeToProfile()">
        <img src="assets/images/0.png" alt="">
    </div>
    <div class="profile" *ngIf="isLoggedIn && profile?.img" (click)="navigayeToProfile()">
        <img src="assets/images/{{profile?.img}} .png" />
    </div>
   </div>
   <div class="hamburger" (click)="toggleNavigatonBar()">
    <div class="line" [class.cross]="showNavigationbar"></div>
    <div class="line" [class.cross]="showNavigationbar"></div>
    <div class="line" [class.cross]="showNavigationbar"></div>
  </div>
  <app-drop-down *ngIf="showNavigationbar" class="tabs" [tabs]="navs" (navClick)="navigate($event)"></app-drop-down>
</div>