@import "../../../assets/styles/helpers/mixins";
@import "../../../assets/styles/helpers/fonts";

.header-component {
  display: flex;
  align-items: center;
  height: 60px;
  background-color: #F0F5FF;

  .logo {
    margin-left: 2rem;
    cursor: pointer;
     img {
      width: 7.5rem;
    }
  }

  .navs {
    display: flex;
    align-items: center;
    margin-left: 2rem;
    position: absolute;
    right: 170px;
    cursor: pointer;
    .nav {
      margin: 0 1rem;
      color: rgba(41, 35, 92, 1);
      font-family: MontserratBold;
      cursor: pointer;
      p {
        margin: auto;
      }
    }
  }
  .left-navs {
    left: 170px;
  }

  .auth {
    position: absolute;
    right: 2rem;

    button {
      margin-left: 1rem;
    }

    .profile{
      img{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid grey;
      }
      cursor: pointer;
    }
  }

  .hamburger {
    width: 30px;
    position: absolute;
    display: none;
    right: 2rem;
    z-index: 5;
    .line {
      width: 100%;
      border: 2px solid $background-color1;
      margin-bottom: 4px;
      transition: all 0.5s linear;  
    }
  }

  .tabs {
    position: absolute;
    right: 0;
    width: 60vw;
    top: 0;
    transition: right .5s;
    display: none;
  }
}
.material-icons {
  font-size: 40px;
}

@media screen and (max-width: 650px) {
  .header-component{
    .navs , .auth{
      display: none;
    }

    .hamburger {
      display: block;

      .cross:nth-child(1) {
        transform: rotate(45deg) translate(5px);
        transition: all 0.5s linear;
        border: 2px solid white;
      }

      .cross:nth-child(2) {
        display: none;
      }

      .cross:nth-child(3) {
        transform: rotate(-45deg) translate(5px);
        transition: all 0.5s linear;
        border: 2px solid white;
      }
    }

    .tabs{
      display: block;
    }
  }
}

.signIn{
  background: #4B6CFF;
   color: rgba(255, 255, 255, 1);
   background: linear-gradient(315deg, #264CFF 0%, #4F6EFF 100%);
   box-shadow: 0px 20px 40px #A5B5FF, inset 0px -3px 10px rgba(0, 0, 0, 0.37), inset 3px 1px 15px rgba(255, 255, 255, 0.5);
   border-radius: 20px;
   flex: none;
order: 4;
flex-grow: 0;
}
.loginButton{
  background: linear-gradient(321.06deg, #CDDCF7 7.5%, #FFFFFF 100%);
box-shadow: 0px 20px 40px #CEDBEF, inset 3px 3px 10px rgba(255, 255, 255, 0.72);
border-radius: 20px;
flex: none;
order: 5;
flex-grow: 0;
}