@import "../../../assets/styles/helpers/mixins";
@import "../../../assets/styles/helpers/fonts";

.header-component {
  display: flex;
  align-items: center;
  height: 60px;
  background-color: white;

  .logo {
    margin-left: 2rem;
    cursor: pointer;
    img {
      width: 2rem;
    }
  }

  .navs {
    display: flex;
    align-items: center;
    margin-left: 2rem;
    cursor: pointer;
    .nav {
      margin: 0 1rem;
      color: $primary-color;
      font-family: MontserratBold;
      cursor: pointer;
    }
  }

  .auth {
    position: absolute;
    right: 2rem;

    button {
      margin-left: 1rem;
    }
  }
}
.material-icons {
  font-size: 40px;
}
@media (max-width: 44.375rem) {
  .nav {
    display: none;
  }
}
