<div class="container">
    <div class="head">
        Privacy policy 
    </div>
    <div class="paras">
        <div class="text">
             <p class="about">We collect and generate various data points about you. Data by which you are identified is termed as “Personal Data”. Personal Data does not mean information that is freely available or accessible in public domain.            </p>
            <br>
             <p class="about">Your Privacy is of utmost importance to us and protection of your Personal Data is a key commitment for us.
            </p>
            <br>
             <p class="about">We are governed by the provisions of applicable law in India including the Information Technology Act 2000 and the Information Technology (Reasonable security practices and procedures and sensitive personal data or information) Rules, 2011 to maintain the privacy of your Personal Data.
            </p>
            <br>
             <p class="about">Gappy to  enable this, Gappy would need to complete your KYC (know your clients) in accordance with regulatory / government and legal agencies and authorities; your information may be provided / verified or updated in this process with respective regulatory agencies as per the regulations applicable at that time. For purpose of execution of investments, your information may be provided to respective Asset Management Company’s / Registrar and Transfer Agent’s / KYC Registration Agency’s / Central KYC Registry in accordance with the regulations. You understand and acknowledge that whenever information is provided to such third parties, it shall be bound by the terms and conditions & privacy policy of such third party service providers / agencies.
            </p>
            <br>
        </div><br>
        <div class="text">
            <p class="heading">Personal Data
            </p>
            <br>
             <p class="about">Personal Data we may collect from you are as under:
            </p>
            
                <ul>
                     <li>Personal details (e.g. name, contact details including, residential address, date of birth, documents such as identity card / passport details / Aadhaar details / PAN / Voter ID / driving license, and / or education details) provided by you to us to avail various services from us.
                    </li>
                     <li>
                        Your details including transaction history, balances and payment details, for effecting transfer of monies through various payment channels facilitated by us.
                    </li>
                     <li>Financial details (e.g. income, expenses, and / or credit history) needed as part of request for some of our products / services.
                    </li>
                     <li>Images of documents / photos required to avail any of our products / services.
                    </li>
                     <li>Voice recordings of our conversations with our customer care agent with you to address your queries / grievances.
                    </li>
                     <li>Specimen signature(s) or consent for processing of your instructions received by us through our various payment and delivery channels.
                    </li>
                     <li>Employment details (e.g. occupation, positions held, employment history, salary and / or benefits) as part of our record retention for credit / various product evaluations or as required under applicable law including Prevention of Money Laundering (Maintenance of Records) Rules, 2005
                    </li>
                     <li>Specimen signature(s) or consent for processing of your instructions received by us through our various payment and delivery channels.
                    </li>
                </ul>
            <br>
             <p class="about">Information obtained from your mobile device by way of using our app like device location, communication information including contacts and call logs, device information (including storage, model and mobile network), transactional and promotional SMS / App notifications.
            </p>
            <br>
             <p class="about">You hereby agree that, we may fetch or update your personal details from government agencies or regulated authorities like KYC Registration Agency’s, Central Registry of Securitisation Asset Reconstruction and Security Interest, Asset Management Company’s, Registrar and Transfer Agency’s, etc.
            </p>
        </div><br>
        <div class="text">
            <div class="heading">Storage of Personal Data
            </div><br>
            <div class="about">We store and process your Personal Data only in India. Our data center and systems also maintain backup and disaster recovery systems in India.
            </div><br>
        </div><br>
        <div class="text">
            <div class="heading">Sharing of your Personal Data
            </div><br>
            <div class="about">Any Personal Data that we have access to shall never be shared without your consent.
            </div><br><div class="about">In various processes / submission of applications / availment of product offerings, we even seek your explicit consent to use / share your Personal Data.
            </div><br><div class="about">In our business and operational processes, we only share the data on a partial and “need-to-know” basis to designated personnel or partners or service providers.
            </div><br><div class="about">We will share your data with competent / legal / statutory / regulatory agencies / authorities or partners / service providers acting on our behalf (as the case may be) in following cases:
            </div><br>
            <ul>
                <li>Only for enabling the delivery of the products / provision of the services availed by you, strictly on a “need to know” basis and subject to applicable laws.
                </li>
                <li>It is directed or required by legal / regulatory / statutory / governmental authorities under applicable laws / regulations though a legally obligated request.
                </li>
                <li>It is required by financial institutions to verify, mitigate or prevent fraud or to manage risk or recover funds in accordance with applicable laws / regulations.
                </li>
            </ul>
            <br>
            <div class="about">
                For the purpose of your investments happening through Gappy, Gappy acts as an intermediary. When you invest in any AMCs, you also become a customer of theirs. Your personal and investment information is available to AMCs / RTAs and may be their service providers. Gappy will not have any control on the way this information is used by them.

            </div><br>
        </div><br>
        <div class="text">
            <div class="heading">Usage of Your Personal Data
            </div><br>
            <div class="about">Subject to applicable laws, we use your Personal Data in our business operations for providing our or our partners’ products services and to perform, among other actions, the following:
            </div><br>
            <br>
            <ul>
                <li>To facilitate the transactions or report on these transactions;
                </li>
                <li>To undertake research and analytics for offering or improving our services and their security and service quality;
                </li>
                <li>To check and process your requests submitted to us for products / services and / or instructions or requests received from you in respect of these products / services;
                </li>
                <li>To share with you, updates on changes to the products / services and their terms and conditions;
                </li>
                <li>To take up or investigate any complaints / claims / disputes;
                </li>
                <li>To respond to your queries or feedback submitted by you;
                </li>
                <li>To verify your identity for us to provide products / services to you;
                </li>
                <li>To carry credit checks, screenings or due diligence checks as lawfully required by us;
                </li>
                <li>To monitor and review services from time to time;
                </li>
                <li>To undertake financial / regulatory / management reporting, and create and maintain various risk management models;
                </li>
                <li>For conducting audits and for record keeping purposes;
                </li>
                <li>For selective offers and promotions.
                </li>
            </ul>
            <br>
            <p class="about">We also use your Personal Data to fulfill the requirements of applicable laws / regulations and / or court orders / regulatory directives received by us.
            </p>
        </div><br>
        <div class="text">
            <div class="heading">Purging of your Personal Data
            </div><br>
            <ul>
                <li>
                    You may disable or delete your Gappy account at any point of time by making and completing verification of such request to Gappy, through Gappy’s desktop website, mobile WAP site, mobile application or through Gappy customer support, subject to the applicable terms and conditions. With this we will no longer share your data with any new partners. However, we retain your Personal Data as long as the purpose for its usage exists, after which the same is disposed of by us except for any record retention required by applicable law including Securities and Exchange Board of India (Investment Advisers) Regulations, 2013.
                </li>
                <li>
                    The PMLA (Prevention of Money Laundering Act 2002) guidelines, Securities and Exchange Board of India (Investment Advisers) Regulations, 2013 require your transaction logs to be stored for a period of up to 5 years post the deletion of an account. In the event of the pendency of any legal / regulatory proceeding or receipt of any legal and / or regulatory direction to that effect, we may be suggested by the law of the land to retain your Personal Data for longer periods.
                </li>
            </ul><br>
        </div><br>
        <div class="text">
            <div class="heading">Cookie Policy
            </div><br>
            <ul>
                <li>
                    Please note that a "cookie" is a small piece of information stored by a web server on a web browser so it can be later read back from that browser.
                </li>
                <li>
                    We may use cookie and tracking technology depending on the features offered.
                </li>
                <li>No Personal Data will be collected via cookies and other tracking technology; however, if you previously provided Personal Data, cookies may be tied to such information.
                </li>
            </ul><br>
        </div><br>
        <div class="text">
            <div class="heading">Links to other websites
            </div><br>
            <div class="about">Our website may contain links to other websites or apps which are not maintained by us. This privacy policy only applies to us. You are requested to read the other websites or apps’ privacy policies when visiting these websites.
            </div><br>
        </div><br>
        <div class="text">
            <div class="heading">Reasonable Security Practices and Procedures
            </div><br>
            <div class="about">We take various steps and measures to protect the security of your Personal Data from misuse, loss, unauthorised access, modification or disclosure. We use the latest secure server layers encryption and access control on our systems. Our safety and security processes are audited by a third party cyber security audit agency from time to time.
            </div><br>
            <div class="about">We have provided multiple levels of security to safeguard your app by Login / Logout option and AppLock feature that can be enabled by you. We also ensure the device binding so that the same login cannot be used on different device without any additional authentication / OTP. Please do not share your Gappy login, password and OTP details with anybody.
            </div><br>
        </div><br>
        <div class="text">
            <div class="heading">Contact us
            </div><br>
            <div class="about">You may contact us on any aspect of this policy or for any discrepancies / grievances with respect to your Personal Data, by writing to our Compliance Officer at:
                The Compliance Officer<br>
                Gappy Limited,<br>
                Main Thadi market <br>
                Mansarovar <br>
                Rajasthan <br>
                Or mail us at hi@gappy.in <br>
                </div><br>
        </div><br>
        <div class="text">
            <div class="heading">Policy Review & Updates
            </div><br>
            <div class="about">This policy will be reviewed by us as and when required and the same may change at any time.
<br>While we will make reasonable efforts to keep you posted on any updates to this privacy policy, to make sure that you are aware of any changes, we recommend that you review this policy periodically.
<br>This Privacy Policy shall apply uniformly to Gappy’s desktop website, mobile WAP site, mobile applications and any services provisioned by Gappy.
            </div><br>
        </div><br>
        <div class="text">
            <div class="heading"></div><br>
            <div class="about"></div><br>
        </div><br>
    </div><br>
</div><br>
 