<div class="forgot-pass">
  <div class="content">
    <div class="logo">Kilope</div>
    <div class="header">Forgot Your Password ?</div>

    <div class="subheader">
      Don't worry! Resetting your password is easy. Just type in the email you
      registred to kilope
    </div>

    <div class="email">
      <mat-form-field appearance="fill">
        <mat-label>Enter your Email</mat-label>
        <input
          type="email"
          matInput
          placeholder="Email"
          required
          autocomplete="off"
          [(ngModel)]="email"
        />
      </mat-form-field>
    </div>

    <button [disabled]="!email" mat-raised-button color="primary" (click)="send()">Send</button>
  </div>
</div>
