
<div class="splitContent1" style="background: #383B4F;">
    <div class="content1" style="background: #383B4F;">
        <div class="logo">
            <img src="../../../assets/images/gappy.png" alt="Logo">
        </div>
        <div class="address">
            <p class="add">Address</p>
            &nbsp;
            <div class="p">
                <p>No.11, 2nd floor, 80 FT Road<br>4th Block, S.T Bed, Koramangala<br>Bengaluru - 560034</p>
                <a href="" style="color: rgba(255, 255, 255, 0.77);">Contact Us</a>
            </div>
        </div>
        <br>
        <br>
        <br>
        <ul style="position: relative; left: 20px;">
            <li>
                <a href="https://www.twitter.com/" target="_blank"><img style="width: 45px; height: 45px;"
                        src="../../../../assets/images/Twiiter.png" alt="Twitter"></a>
            </li>
            &nbsp;
            <li>
                <a href="https://www.facebook.com/" target="_blank"><img style="width: 45px; height: 45px;"
                        src="../../../../assets/images/Facebook.svg" alt="Facebook"></a>
            </li>
            &nbsp;
            <li>
                <a href="https://www.instagram.com/" target="_blank"><img style="width: 45px; height: 45px;"
                        src="../../../../assets/images/Instagram.svg" alt="Instagram"></a>
            </li>
            &nbsp;
            <li>
                <a href="https://www.linkedin.com/" target="_blank"><img style="width: 45px; height: 45px;"
                        src="../../../../assets/images/Linkedin.svg" alt="Linked In"></a>
            </li>
            &nbsp;
            <li>
                <a href="https://www.youtube.com/" target="_blank"><img style="width: 45px; height: 45px;"
                        src="../../../../assets/images/Youtube1.svg" alt="Youtube"></a>
            </li>
            &nbsp;
        </ul>
    </div>
    <div class="content1" style="background: #383B4F;">

        <div class="tags">
            <li>
                <a href="">Gift</a>
            </li>
            &nbsp;
            <li>
                <a href="">Invest</a>
            </li>
            &nbsp;
            <li>
                <a href="">Blog</a>
            </li>
            &nbsp;
            <li>
                <a href="">About us</a>
            </li>
            &nbsp;
            <li>
                <a href="">Terms and Conditions</a>
            </li>
            &nbsp;
            <li>
                <a href="">Privacy</a>
            </li>
            &nbsp;
            <li>
                <a href="">Help and support</a>
            </li>
        </div>
    </div>
    <div class="content1">
        <div class="rectangle">
            <h6 class="sitemap">Site Map</h6>
        </div>
    </div>
    <br>
</div>