
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 3rem;
    .illus {
        width: 34rem;
        height: 37rem;
    }
    .hns {
        display: flex;
        align-self: center;
        flex-direction: column;
        align-items: center;
        padding: 1.5rem;
        
        .comms {
            display: flex;
            flex-direction: row;
           align-items: center;
           margin: 1.2rem;
        }
            .commImg {
                margin: 1.2rem;
                width: 2.5rem;
                height: 2.5rem;
            }
        .text {
            font-style: normal;
            /* identical to box height, or 131% */
        
            letter-spacing: 1.5px;
        
            color: rgba(47, 47, 47, 0.77);
            .head {
        
                font-family: MontserratExtraBold;
                font-style: normal;
                font-weight: 800;
                font-size: 2rem;
                line-height: 4rem;
                /* or 192% */
                letter-spacing: 1.5px;
                margin-top: 1.5rem;
                margin-bottom: 1rem;
                color: #4A4A4A;
        
            }
            .about {
        
                font-family: Poppins;
                font-weight: 500;
                font-size: 1.2rem;
                line-height: 2rem;
            }
        }
    }
}