<div class="change">
  <div class="content">
    <div class="logo">Cryft</div>

    <div class="change-pass">Change Password</div>
    <mat-form-field appearance="fill">
      <mat-label>New Password</mat-label>
      <input
        matInput
        placeholder="password"
        required
        autocomplete="off"
        type="password"
      />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Confirm new Password</mat-label>
      <input
        matInput
        placeholder="confirm password"
        required
        autocomplete="off"
        type="password"
      />
    </mat-form-field>

    <button mat-raised-button color="primary">Change Password</button>
  </div>
</div>
