    <div class="main container">
      <div class="tab">
        <div>
          <button
            class="tablinks"
            id="defaultOpen"
          >
            My Investments
        </button>
          <!-- <button class="tablinks" (click)="eventWallet('Deposit')">
            Deposits
          </button> -->
          <button class="tablinks buttonDeco" (click)="eventWallet('Buy')">Buy USDT</button>
          <button class="tablinks buttonDeco" (click)="eventWallet('Connect Exchange')">
            Connect Exchange
          </button>
        </div>
      </div>

      <div id="Investments" class="tabcontent">
        <div class="investment_wrapper">
          <div>
            <img src="../../../assets/images/bluechip.png" alt="" />
            <p>Blue Chip Sag</p>
          </div>
          <div>
            <img src="../../../assets/images/metaverse.svg" alt="" />
            <p>Metaverse Sag</p>
          </div>
        </div>
        <p>Total Invested - 12.4 USDT</p>
        <p>Networth - 15.45 USDT</p>
      </div>

      <!-- <div id="Deposit" class="tabcontent">
        <p>No Deposits</p>
      </div>

      <div id="Buy" class="tabcontent">
        <p>Buy</p>
      </div>

      <div id="Connect" class="tabcontent">
        <p>Connect Exchange</p>
      </div>

      <div id="Exchange" class="tabcontent">
        <p>Exchange</p>
      </div> -->
    </div>