<div class="container">
    <div class="about-us">
        <div class="text">
            <div class="head">About Us</div>
            <div class="about">Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae legendos at vix ad putent delectus delicata usu. Vidit dissentiet eos cu eum an brute copiosae hendrerit. Eos erant dolorum an. Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae legendos at vix ad putent delectus delicata usu. Vidit dissentiet eos cu eum an brute copiosae.  Vidit dissentiet eos cu eum an brute copiosae.</div>
        </div>
    </div>
    <img src="../../../assets/images/about-us.png">
</div>
