<div class="container">
    <div class="about-us">
        <div class="text">
            <div class="head">About Us</div>
            <div class="about">We are a team of tech pals working and building things from India for the world. We are passionate about crypto and web3 at large. We wanted to create something that would empower the investors and build tools to maximize profits and diversify their holdings. we are optimistic about the future.That this is the dawn of the era where people will have the power to choose for themselves.</div>
        </div>
    </div>
    <img src="../../../assets/images/about-us.png">
</div>
