<div class="login-component">
  <div class="name-logo">
    <div class="logo">
      <img src="assets/images/crypto.png" alt="" />
    </div>
    <div class="name">Gappy</div>
  </div>
  <div class="content">
    <div class="header">Log in</div>

    <form [formGroup]="loginForm">
      <div class="input-container">
        <mat-form-field appearance="fill">
          <mat-label>Enter your email</mat-label>
          <input
            matInput
            placeholder="pat@example.com"
            required
            autocomplete="off"
            formControlName="email"
          />
        </mat-form-field>
      </div>
      <div class="input-container">
        <mat-form-field appearance="fill">
          <mat-label>Enter your password</mat-label>
          <input
            type="password"
            matInput
            placeholder="password"
            required
            autocomplete="off"
            formControlName="password"
          />
        </mat-form-field>
      </div>
    </form>

    <button mat-raised-button color="primary" (click)="login()">Log in</button>
  </div>

  <div class="forget-pass">
    <a [routerLink]="['/forgot-pass']">Forgot password?</a>
    <div class="sign-up">
      Don't have an account?<a [routerLink]="['/sign-up']">Create account</a>
    </div>
  </div>
</div>
