<div class="main container">
    <header>
        <div><img src="../../../assets/images/{{sags[id].img}}" /></div>
        <div>
            <h1>{{sags[id].sag}}</h1>
            <p>
                {{sags[id].about}}
            </p>
        </div>
    </header>

    <div class="content">
        <div id="left">
            <!-- <img src="assets/Chart.png" /> -->
            <div class="box compHoldings">
                <h1>Companies Holding in this Fund</h1>
                <div class="progress_wrapper">
                    <div>
                        <label class="first">Others </label>
                        <progress max="100" value="10">10%</progress>
                        <label class="second">14.82%</label>
                    </div>
                    <div>
                        <label class="first">Others </label>
                        <progress max="100" value="70">70%</progress>
                        <label class="second">14.82%</label>
                    </div>
                    <div>
                        <label class="first">Others </label>
                        <progress max="100" value="30">30%</progress>
                        <label class="second">14.82%</label>
                    </div>
                    <div>
                        <label class="first">Others </label>
                        <progress max="100" value="50">50%</progress>
                        <label class="second">14.82%</label>
                    </div>
                </div>
            </div>
            <div class="box">
                <h1>About this fund</h1>
                <p>
                    {{sags[id].about}}
                </p>
            </div>
            <div class="box">
                <h1>Risk Factors</h1>
                <ol>
                    <li>
                        Lorem ipsum dolor sit amet et delectus accommodare his consul
                        copiosae legendos at vix ad putent delectus
                    </li>
                    <li>
                        Lorem ipsum dolor sit amet et delectus accommodare his consul
                        copiosae legendos at vix ad putent delectus
                    </li>
                    <li>
                        Lorem ipsum dolor sit amet et delectus accommodare his consul
                        copiosae legendos at vix ad putent delectus
                    </li>
                    <li>
                        Lorem ipsum dolor sit amet et delectus accommodare his consul
                        copiosae legendos at vix ad putent delectus
                    </li>
                    <li>
                        Lorem ipsum dolor sit amet et delectus accommodare his consul
                        copiosae legendos at vix ad putent delectus
                    </li>
                </ol>
            </div>
        </div>
        <div id="right">
            <div class="box invest">
                <h1>Start SIP in Metaverse</h1>
                <h4>Min - <span>₹2000</span> per month</h4>
                <button class="light_btn">Invest now</button>
            </div>
            <div class="box performance">
                <h1>Start SIP in Metaverse</h1>
                <h3>₹100</h3>
                <p>would have given a return of after 1 year</p>
                <div class="progress_wrapper">
                    <div>
                        <progress max="100" value="10">70%</progress>
                        <label>
                            <span> Bank Account </span>
                            <span> ₹ 1,10,871 </span>
                        </label>
                    </div>
                    <div>
                        <progress max="100" value="30">70%</progress>
                        <label>
                            <span> Bank Account </span>
                            <span> ₹ 1,10,871 </span>
                        </label>
                    </div>
                    <div>
                        <progress max="100" value="70">70%</progress>
                        <label>
                            <span> Bank Account </span>
                            <span> ₹ 1,10,871 </span>
                        </label>
                    </div>
                    <div>
                        <progress max="100" value="40">70%</progress>
                        <label>
                            <span> Bank Account </span>
                            <span> ₹ 1,10,871 </span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>