$primary-color: #4055B5;
$secondary-color: rgb(231, 95, 117);


$background-color1: #0c1b5a;
$background-color2: #11021a;
$button-bg-color: #66008d;
$border-color1: #42324b;
$border-color2: #403447;

$primary-font-family: 'MontserratRegular', sans-serif;
$primary-font-size: 14px;
$primary-font-size-value: 14;
