<div class="profile-component" [class.stop-scroll]="chooseClicked">
  <span id="siteseal"><script async type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=itNPFbf4NzDfpqnvMA8chDimMGKVYqQGpzq2V0au26vWFLHwzmlsL0wNrytn"></script></span>

  <div class="profile-picture">
    <div *ngIf="profile?.img" class="image">
      <img src="assets/images/{{profile?.img}} .png" />
      <button mat-fab color="primary" (click)="choose()">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
    <div *ngIf="!profile?.img" class="image">
      <img src="assets/images/0.png" />
      <button mat-fab color="primary" (click)="choose()">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
    <div class="profile-section">
      <div class="label">
        Email
      </div>
      {{   profile?.email }} 
     </div>
   <div class="profile-section">
     <div class="label">
       Name
     </div>
  {{   profile?.name }}
    <button mat-icon-button color="primary" (click)="openDialog('Name')">
      <mat-icon>edit</mat-icon>
    </button>
   </div>
   <div class="profile-section" *ngIf="profile?.contactNo">
    <div class="label">
      Contact No.
    </div>
    {{   profile?.contactNo }} 
    <button mat-icon-button color="primary" (click)="openDialog('Contact No')">
      <mat-icon>edit</mat-icon>
    </button>
   </div>
   <div class="profile-section">
    <div class="label">
      Balance(INR)
    </div>
 {{   profile?.balance }}
   <button mat-button color="primary" (click)="withdraw(profile?.balance)">
     withdraw
   </button>
  </div>
  
  </div>
  <div class="my-currencies">
    <div class="header">My Currencies</div>
  </div>

  <div class="currencies" *ngIf="profile?.currencies.length > 0">
    <table mat-table [dataSource]="profile?.currencies" class="mat-elevation-z8">
     
      <ng-container matColumnDef="currency">
        <th mat-header-cell *matHeaderCellDef>Currency Name</th>
        <td mat-cell *matCellDef="let element">{{ element.currencyName }}</td>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef>Amount</th>
        <td mat-cell *matCellDef="let element">{{ element.quantity }}</td>
      </ng-container>

      <ng-container matColumnDef="worth">
        <th mat-header-cell *matHeaderCellDef>Worth</th>
        <td mat-cell *matCellDef="let element; let i = index">
          <button class="action" mat-stroked-button color="accent"  *ngIf="!element.worth" (click)="fetchCryptoPrizes(element.currency, i)">Show worth</button><p  class="action" *ngIf="element.worth" >{{ element.worth }}</p>
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Sell</th>
        <td mat-cell *matCellDef="let element; let i = index">
         <button class="action" mat-raised-button color="primary" (click)="sell(element)">
            Sell
          </button>

        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <div class="currencies" *ngIf="profile?.currencies.length == 0">
    No one has gifted you any Currencies
  </div>

  <div class="bank-details" #bankDetails>
    <div class="header">Provide Bank Details</div>

    <div class="sub-header">
      Money will be credited to provided bank account if you sell any
      crypocurrency currency
    </div>
    <form [formGroup]="bankAccountDetailsForm">
      <mat-form-field appearance="fill">
        <mat-label>IFSC Code*</mat-label>
        <input
          matInput
          formControlName="ifscCode"
          (change)="fetchBankDetailsByIfsc($event)"
        />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Bank Name*</mat-label>
        <input matInput formControlName="bankName" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Branch*</mat-label>
        <input matInput formControlName="branch" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>City*</mat-label>
        <input matInput formControlName="city" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Address*</mat-label>
        <input matInput formControlName="address" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Account Number*</mat-label>
        <input matInput formControlName="accountNumber" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Confirm Account Number*</mat-label>
        <input matInput formControlName="confirmAccountNumber" />
      </mat-form-field>
      <div
        class="err"
        *ngIf="
          bankAccountDetailsForm.controls.accountNumber.value &&
          bankAccountDetailsForm.controls.confirmAccountNumber.value &&
          bankAccountDetailsForm.controls.accountNumber.value !=
            bankAccountDetailsForm.controls.confirmAccountNumber.value
        "
      >
        Account number and confirm account number is not same
      </div>

      <div
        class="matched"
        *ngIf="
          bankAccountDetailsForm.controls.accountNumber.value &&
          bankAccountDetailsForm.controls.confirmAccountNumber.value &&
          bankAccountDetailsForm.controls.accountNumber.value ==
            bankAccountDetailsForm.controls.confirmAccountNumber.value
        "
      >
        Account Number matched
      </div>

      <mat-form-field appearance="fill">
        <mat-label>Account holder Name*</mat-label>
        <input matInput formControlName="accountHolderName" />
      </mat-form-field>
      <button
        mat-raised-button
        color="accent"
        (click)="saveBankDetails()"
        [disabled]="
          !bankAccountDetailsForm.valid ||
          bankAccountDetailsForm.controls.accountNumber.value !=
            bankAccountDetailsForm.controls.confirmAccountNumber.value
        "
      >
        Save
      </button>
    </form>
  </div>

  <hr>
  <div class="logout">
    <button mat-stroked-button color="accent" (click)="logout()">
      Log out
    </button>
  </div>
  <div *ngIf="chooseClicked" class="grid">
  <div class="grid-content">
    <div class="close" (click)="close()">X</div>
    <div *ngFor="let e of [].constructor(12); let i = index" class="avatar"><img (click)="selectImg(i+1)" src="assets/images/{{i+1}} .png"/></div>
  </div>
  </div>
</div>
