@import "../../../../assets/styles/helpers/mixins";
@import "../../../../assets/styles/helpers/fonts";

.profile-component {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fafafa;
  padding: 1rem;

  .edit {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: $primary-color;
  }
  .profile-picture {
    width: 100%;
    border-bottom: 2px solid $primary-color;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;

    .image {
      margin-bottom: 1rem;
      img {
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
        border: 1px solid grey;
      }
    }
  }

  .my-currencies {
    color: $primary-color;
    font-family: MontserratBold;
    font-size: 1.5rem;
    padding: 2rem 0;
    width: 100%;
  }

  .currencies {
    width: 100%;
    table {
      width: 100%;
    }
  }

  .my-balance {
    padding: 2rem 1rem;
    width: 100%;

    .mat-card {
      .mat-form-field {
        
        .mat-form-field-flex ng-tns-c35-0{
          background: transparent;
        }
      }
    }
  }

  .bank-details {
    width: 100%;
    padding: 1rem;
    margin-top: 2rem;

    form {
      width: 60%;
      display: flex;
      flex-direction: column;
      margin-top: 2rem;

      .err {
        color: red;
        font-size: 0.7rem;
        font-family: MontserrattThin;
        position: relative;
        top: -1rem;
      }

      .matched {
        color: green;
        font-size: 0.7rem;
        font-family: MontserrattThin;
        position: relative;
        top: -1rem;
      }
    }
  }

  .logout {
    width: 100%;
  }

  .orders {
  }
}

.header {
  font-size: 1.5rem;
  color: $primary-color;
  font-family: MontserratBold;
  display: flex;
  width: 60%;
  justify-content: space-between;
  align-items: center;
}

.sub-header {
  font-family: MontserrattThin;
  font-size: 0.8rem;
}
