<div class="main">
    <section class="featured">
        <div class="container">
            <div class="splitContent">
                <div class="content">
                    <div>
                        <div class="header">
                            <div>
                                <img src="../../../../assets/images/MetaverseHeader.svg" alt="">
                            </div>
                            <div>
                                <img style="align-items: flex-end;" src="../../../../assets/images/Start SIP.svg" alt="" srcset="">
                                <img src="../../../../assets/images/Investment Performance.svg" alt="" srcset="">
                            </div>
                        </div>
                    </div>
                </div>
                <img src="../../../../assets/images/About this Fund.svg" alt="">
            </div>
            <br><br>
            <img src="../../../../assets/images/risk.png" alt="">
            <br>
        </div>
    </section>
    <!-- <app-footer></app-footer> -->
</div>