// /* You can add global styles to this file, and also import other style files */
@import "/src/assets/styles/helpers/fonts";
@import "/src/assets/styles/helpers/variables";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.button {
  color: white;
  font-family: MontserratRegular;
  background-color: $primary-color;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  text-align: center;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }