@import 'node_modules/bootstrap/dist/css/bootstrap.min';

@import 'fonts';
@import 'variables';
@import 'mixins';
@import 'animations';
@import 'structure';

button{
    background-color: #110629 !important;
  }
  button:disabled{
    background-color: #0000001F !important;
  }
